import React from 'react';
import PropTypes from 'prop-types';
import styles from './styles.module.css';

class {{ properCase name }} extends React.Component {
	render() {
		return (
			<div className={`styles.{{ properCase name }}`}>
				{/* ... */}
			</div>
		);
	}
}

{{ properCase name }}.propTypes = {

};

{{ properCase name }}.defaultProps = {

};

export default {{ properCase name }};
