import React from 'react';
import PropTypes from 'prop-types';
import styles from './styles.module.css';

function {{ properCase name }}() {
	return (
		<div className={`styles.{{ properCase name }}` }>
			{/* ... */}
		</div>
	);
}

{{ properCase name }}.propTypes = {

};

{{ properCase name }}.defaultProps = {

};

export default {{ properCase name }};
